<!DOCTYPE html>
<!-- this is the html used for the historic map disclaimer.  it is included in the map.htm template -->

<div id="disclaimer-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="historic-disclaimer-modal" aria-hidden="true" style="margin-top: 50px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header disclaimer-modal-header">
            <h4 class="modal-title" id="disclaimer-title">Please note...</h4>
            </div>
            <div class="modal-body" id="disclaimer-body">
                <p>The map view does not show the following types of resources:</p>
                    <ol>
                        <li>Physical resources that do not have a permanent location (such as moveable objects)</li>
                        <li>Resources in the "Recurring Resources" Character Area (curbs, sidewalks)</li>
                        <li>Resources in the "Spatial Patterns" Character Area (viewsheds, topography, spatial organization)</li>
                    </ol>
                <p>Click "SHOW HELP" at the top of the page to find a full list of omitted resources.</p>
            </div>
            <div class="modal-footer disclaimer-modal-footer" style="text-align:center">
                <button type="button" class="btn btn-default" id="close-modal" style="background-color: #E0E0E0" data-dismiss="modal"><strong>CONTINUE</strong></button>
            </div>
        </div>
    </div>
</div>