<!DOCTYPE html>
<!-- this is the html used for the historic map disclaimer.  it is included in the map.htm template -->

<div id="disclaimer-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="historic-disclaimer-modal" aria-hidden="true" style="margin-top: 50px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="disclaimer-title">Map Contents Disclaimer</h4>
            </div>
            <div class="modal-body" id="disclaimer-body">
                <p>The map view does not include the following types of resources:</p>
                    <ol>
                        <li>physical resources that do not have a permanent location (such as moveable objects)</li>
                        <li>sets of resources included in the "Recurring Resources" Character Area (i.e. curbs, sidewalks)</li>
                        <li>resources included in the "Spatial Patterns" Character Area (viewsheds, topography, and spatial organization)</li>
                    </ol>
                <p>A full list of resources excluded from the map view is provided...</p>                   
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-default" id="close-modal" data-dismiss="modal">I UNDERSTAND</button>
            </div>
        </div>
    </div>
</div>