<!DOCTYPE html>
<!-- this is the html used for the historic map disclaimer.  it is included in the map.htm template -->

<div id="historic-disclaimer-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="historic-disclaimer-modal" aria-hidden="true" style="margin-top: 50px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header disclaimer-modal-header">
            <h4 class="modal-title" id="disclaimer-title">Historic Map Disclaimer</h4>
            </div>
            <div class="modal-body" id="disclaimer-body">
                <p>While viewing historic map layers, keep the following in mind:</p>
                    <ul>
                        <li>The maps themselves may be inaccurate or approximate.</li>
                        <li>Overlaying them on current maps <em><b>is not precise</b></em>.</li>
                    </ul>
                <p>The Armed Forces Retirement Home cannot guarantee the reliability of the apparent relationship between features on historic maps and their current location.<br>
            </div>
            <div class="modal-footer disclaimer-modal-footer" style="text-align:center">
                <button type="button" class="btn btn-default" id="close-modal" style="background-color: #E0E0E0" data-dismiss="modal"><strong>I UNDERSTAND</strong></button>
            </div>
        </div>
    </div>
</div>