{% load staticfiles %}
{% load i18n %}

<!--
{% for node, entries in browse_info.items %}
{{ node }}: {
    {% for entry, contents in entries.items %}
    <br>
    {{ entry }}: {{ contents }},
    {% endfor %}
},
{% endfor %}-->
<div class="row margin-bottom-40">
    <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12 servive-block servive-block-light" style="">
            <h4>NRHP Resource Types</h4>
        </div>
        {% for entry, contents in browse_info.NHRP_RESOURCE_TYPE.items %}
        <a href="http://{{local_domain}}/search?page=1&termFilter={{contents.term_filter}}">
            <div class="col-xs-12 servive-block servive-block-default" style="background-color:#3276b1;color:black;">
                <h4>{{ contents.name }}</h4>
            </div>
        </a>
        {% endfor %}
    </div>
    
    <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12 servive-block servive-block-light" style="">
            <h4>Periods of Significance</h4>
        </div>
        {% for entry, contents in browse_info.PERIOD_OF_SIGNIFICANCE.items %}
        <a href="http://{{local_domain}}/search?page=1&termFilter={{contents.term_filter}}">
            <div class="col-xs-12 servive-block servive-block-default" style="background-color:#3276b1;color:black;">
                <h4>{{ contents.name }}</h4>
            </div>
        </a>
        {% endfor %}
    </div>
    
    <div class="col-xs-12 col-sm-4">
        <div class="col-xs-12 servive-block servive-block-light" style="">
            <h4>Areas of Significance</h4>
        </div>
        {% for entry, contents in browse_info.AREA_OF_SIGNIFICANCE.items %}
        <a href="http://{{local_domain}}/search?page=1&termFilter={{contents.term_filter}}">
            <div class="col-xs-12 servive-block servive-block-default" style="background-color:#3276b1;color:black;">
                <h4>{{ contents.name }}</h4>
            </div>
        </a>
        {% endfor %}
    </div>

</div>