/*change all fonts to 'Open Sans', sans-serif*/

p {
    font-family: 'Open Sans', sans-serif;
}

.body {
    font-family: 'Open Sans', sans-serif !important;
}

.row {
    font-family: 'Open Sans', sans-serif !important;
}

.btn {
    font-family: 'Open Sans', sans-serif;
}

.purchase p {
    font-family: 'Open Sans', sans-serif;
}

.body p {
    font-family: 'Open Sans', sans-serif;
}

.popover-content {
    font-family: 'Open Sans', sans-serif;
}

ul.select2-results {
    font-family: 'Open Sans', sans-serif;
}

.select2-choices {
    font-family: 'Open Sans', sans-serif;
}

ul.select2-choices {
    font-family: 'Open Sans', sans-serif;
}

.layerfilter {
    font-family: 'Open Sans', sans-serif;
}

.report-section-header {
    font-family: 'Open Sans', sans-serif;
}

/* display result that are by default not displayed... */
.select2-results li:first-child{
    /*display:block !important;*/
}

.purchase p  li{
    font-size: larger;
}

.topbar ul.loginbar > li {
    font-family: 'Open Sans', sans-serif;
}
  

.headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1.5px dotted white;
    font-family: 'Open Sans', sans-serif;
}

.headline h2, 
.headline h3, 
.headline h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 3px;
    display: inline-block;
    color: white;
    border-bottom: 0px;
}

.modal-subtitle {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
} 

/* Disclaimer Modal*/
#disclaimer-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#disclaimer-body {
    font-size: 125%;
    font-family: 'Open Sans', sans-serif;
}

/* Inventory Map Tools Buttons and panels*/
.modal-title {
    font-weight: 500;
}

.arches-map-tools {
    width: 165px;
    height: 46px;
    background: red;
    color: #3A67A6;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid rgba(206,217,233,.95);
}

.ol-attribution {
    z-index:200;
    margin-bottom: 45px !important;
    height: 35px;
}

.ol-attribution button, .ol-attribution ul {
    display: inline-block;
    height: 29px;
}

.ol-attribution button{
        background-color: rgba(66,139,202,.8) !important;
}

.ol-attribution li {
    display: inline;
    list-style: none;
    line-height: inherit;
    font-size: 14px;
    
}

.ol-zoom {
    width: 45px !important;
    left: 30px !important;
    top: 30px !important;
    padding: 4px !important;
    background-color: rgba(255,255,255,.75);
}

.ol-zoom-in {
    width: 100% !important;
    height: 35px !important;
    margin: 0px !important;
    margin-bottom: 4px !important;
    background-color: rgba(66,139,202,.8) !important;
}

.ol-zoom-out {
    margin: 0px !important;
    width: 100% !important;
    height: 35px !important;
    background-color: rgba(66,139,202,.8) !important;
}



.tools-panel {
    margin-top: -495px;
    height: 487px; 
    width: 419px;     
    background: #ffffff; 
    border: 1px solid rgba(0,0,0,.15); 
    opacity: 1.0; 
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    font-family: 'Open Sans', sans-serif;
}

.tools-panel a {
    font-weight: normal;
}

.tools-panel-filter {
    margin-top: -410px;
    height: 375px; 
    width: 299px;     
    margin-left: 15px;
    background: #ffffff; 
    border: 1px solid rgba(0,0,0,.15); 
    opacity: 1.0; 
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.arches-map-tools {
    width: 140px;
    height: 46px;
    background: #F5F7FB;
    color: #3A67A6;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid rgba(206,217,233,.95);
}

@media screen and (max-width: 768px) {
    .map-tools-reduce-width {
        width: 50px !important;
    }
}

.arches-map-tools-pressed {
    width: 140px;
    height: 46px;
    font-size: 15px;
    background: #ffffff;
    border: 1px solid rgba(206,217,233,.95);
    border-top-color: #ffffff;
    color: #3A67A6;
    font-weight: 400;
}

.main-logo {
    height: 50px;
    margin-top: -10px;
}

.arches-box-grey-border {
    border-color: #dcdcdc; 
    border: 1px solid rgba(0,0,0,.1);
    padding-left: 20px;
    background: #ffffff;
}

.arches-basemap-thumbnail {
    border: 1px solid rgba(0,10,0,.3);
    width: 48px;
    height: 48px;
    border-radius: 3px 0px 0px 3px;
}

.arches-map-inventory-footer {
    margin-top: -46px;
    height: 46px; 
    opacity: .75;
    background: #eaeaea;
}

.arches-map-inventory-footer-text {
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
    color: #000000;
}

.arches-layer-library {
    font-family: 'Open Sans', sans-serif;
}

.new-map-loading {
    height: 36px;
    margin-top: -41px;
    margin-left: 425px;
    background-color: #5cb85c;
    opacity: 0.9;
    border: 1px solid #4cae4c;
    border-radius: 3px;
    padding-top: 1px;
    padding-left: 5px;
    display: block;
    width: 200px;
}

.new-map-loading-text {
    font-size: 15px;
    font-weight: 400;
    color: #fdfdfd;
    margin-left: 40px;
    margin-top: -25px;
}
}

/*Footer
------------------------------------*/
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
    color: #d3be94;
}

/*Copyright
------------------------------------*/

.arches-logo{
    height: 28px;
    margin-top: 0px;
}


/*
http://stackoverflow.com/questions/9093424/placeholder-in-contenteditable-focus-event-issue/18368720#18368720
*/
summernote:empty:not(:focus):before{
    content:attr(data-ph)
}

/*
disable drop image in summernote WISYWIG
cf https://github.com/summernote/summernote/issues/187
*/
.note-editor .note-dropzone {
    opacity: 0 !important;
}

.location-form-panel {
    height: 300px;
    margin-top : -350px !important;
    margin-left: -19px;
}

.location-form-panel-body {
    height: 225px;
    overflow-y: scroll;
}

.ls-inner {
    margin-left: 0px;
}

/* HELP MENUS */

#help-section {
    background-color:#C4C4C4;
    border-bottom: #ccc solid 3px;
    border-radius: none;
}

#help-section .purchase {
    text-align: left;
}

.help-page {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.help-header {
    display:block;
}

.topic-button a {
    text-decoration: none;
    color #555;
}

.topic-button h5 {
    font-weight: bold;
    color: #555;
    display: inline;
}

.expand-symbol {
    color: #555;
}

.topic-content {
    display: none;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
}

.topic-content  p {
    margin: 3px 0px 3px 0px;
}

.topic-content  ul, ol {
    margin: 3px 0px 3px 0px;
}

.header .navbar-default {
  border-bottom: #ccc solid 3px;
  border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
}

.afrh-logo {
  width: 65px;
  height: 65px;
}

/* DEALING WITH THE BORDER UNDER THE NAVBAR AND BUTTONS */

.map {
    border: none;
}

.header .navbar-nav {
    top: 3px;
}

.header .navbar-default .navbar-nav > li > a:hover, .header .navbar-default .navbar-nav > .active > a {
    border-bottom: solid 3px #4765a0;
}

.header .navbar-default .navbar-nav > li > a, .header .navbar-default .navbar-nav > li > a:focus {
  border-bottom: solid 3px transparent;
}

.header {
    border: none;
}

.purchase {
    padding-top: 0px !important;
    border: none !important;
}

.header .dropdown-menu {
    margin-top: -3px !important;
    border-top: solid 3px #4765a0;
}

/*form specific styles*/
.form-section-header {
    width: 100%;
    text-align:left;
    border-bottom: 1px solid #eee; 
    line-height: 0.1em;
    margin: 20px 0px 15px; 
    font-size: 18px;
    font-weight: 500;
}

.form-section-header span {
    background: #fff;
    padding-right: 10px;
}

.form-section-subheader {
    width: 100%;
    text-align:center;
    border-bottom: 1px solid #eee; 
    line-height: 0.1em;
    margin: 20px 0px 15px; 
    font-size: 16px;
    font-weight: 500;
}

.form-section-subheader span {
    background: #fff;
    padding-right: 10px;
}

.form-full-content {
    margin: 10px;
}

.form-full-content dl {
    margin-bottom: 10px !important;
}

.form-top-divider {
    margin-top: 10px;
    margin-bottom: 15px;
}



.form-control {
    height: 32px !important;
    padding-top: 3px;

}

.form-control::-webkit-input-placeholder {
    color: #555 !important;
}
/* THESE DON'T SEEM TO BE NECESSARY...
.form-control:-moz-placeholder { color: #eee !important; }
.form-control::-moz-placeholder { color: red !important; }
.form-control:-ms-input-placeholder { color: red !important; }
*/

.select2-default {
    color: #555 !important;
}

.select2-container .select2-choice {
    line-height: 30px !important;
}

.arches-crud-child-section {
    margin-top: 5px;
}

.alert {
    margin-bottom: 5px !important;
    padding: 10px !important;
}

.alert-info {
    margin: 10px 0px !important;
}

.filler-text-inline {
    height: 23px;
}

.filler-text-block {
    height: 24px;
}


dl.inline dd {
  display: inline;
  margin: 0;
}
dl.inline dd:after{
  display: block;
  content: '';
}
dl.inline dt{
  display: inline-block;
  min-width: 100px;
}

dl.score-table dd{
    float:right;
}

.totalscore {
    width: 20%;
}

#resource_data_management_form .form-group {
    margin-bottom: 0px !important;
}

.form-section-input {
    padding-left:0px !important;
    padding-right:0px !important;
}

@media screen and (min-width: 768px) {
    .add-padding-right {
        padding-right: 5px !important;
    }
}

@media screen and (min-width: 768px) {
    .add-button-column {
        padding-left: 0px !important;
    }
}

@media screen and (max-width: 768px) {
    .add-margin-top {
        margin-top: 5px !important;
    }
}

.arches-select2-crud-form  {
    width: 100%;
}

.arches-form-input {
    width: 100%;
}


/* report specific styles */
.report-section-header {
    width: 100%;
    text-align:center;
    line-height: 0.1em;
    margin: 20px 0px 15px; 
    font-size: 24px;
    font-weight: 700;
}

.report-section-header span {
    background: #F9F9F9;
    padding-right: 10px;
}


/* map rules */
.modal-layer-list .row {
    margin: 0px 0px 5px 0px;
}

.modal-body.modal-layer-list {
    padding: 5px;
}

.modal-layer-list ul {

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}

.modal-layer-list ul li {
    vertical-align: middle;
    display: inline;
}

.modal-layer-list ul li div {
    vertical-align: middle;
    display: inline;
}

.arches-basemap-caption {
    font-size: 18px;
    margin-left: 5px;
}

/* index rules */
.index-purchase {
    background: #5F6265;
    padding: 0px !important;
}

.footer {
    color: #dadada;
    background: #5F6265;
    padding: 20px 0 30px;
}

.ls-bottom-slidebuttons {
    margin-top: -50px !important;
}

img.ls-s1 {
    left: 0px !important;
}

.photo-text-box {
    left:0px !important;
}

@media screen and (min-width: 768px) {
    .nav-float-right {
        float: right;
    }
}

/* browse boxes, modeled after original "servive" classes */

.slervive-block {
  text-decoration: none !important;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 2px;
}

.slervive-block a {
  display: block;
  width: 100%;
  height: 100%;
}

.slervive-block h4 {
  color: #555;
}

.slervive-block-default {
  padding: 6px 6px;
  background-color:#DEE9F3;
  border: solid 1px #DEE9F3;
}

.slervive-block-light {
  padding: 10px 10px;
  background-color:#fafafa;
  border: solid 1px #eee; 
}

.slervive-block-light a:hover, a:focus {
  text-decoration: none;
}

.slervive-block-light a h4:hover {
  text-decoration: none;
}

.slervive-block-light:hover {
  box-shadow: 0 0 8px #eee;
  /*background-color: #E2E2E2;*/
}

.slervive-block-default:hover h4 {
  color: black;
  text-decoration: none;
}

.browse-dropdown {
    margin-top: 0px !important;
    width: 100%;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    box-shadow: none !important;
    border: solid 1px #eee !important;
    max-height: 200px;
    overflow-y: scroll;
    text-align: left;
}

.dropdown.slervive-block > a:after {
    content: "";
}

/* report styles */

.arches-report-subsection-item {
    font-size: 16px;
    font-weight: 200;
    color: #4765a0;
    margin-left: 10px;
    line-height: 1.175;
    margin-top: 2px;
}

.arches-report-subsection-content {
    padding-top: 2px;
}

.devider-subsection {
    margin: 10px 0px !important;
}

.arches-report-subsection-item-none {
    font-size: 14px;
    font-weight: 200;
    color: #888;
    margin-left: 10px;