{% extends "views/forms/base.htm" %}
{% load i18n %}

{% block form_content %}
<div class="form-full-content">

    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Identification" %}</span></div>
        </div>
    </div>
    <div id="name-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 form-section-input">
                    <div class="form-group">
                        <input class="form-control arches-form-input" style="width: 100%;" placeholder='{% trans "name" %}' data-bind='value: getEditedNode("NAME.E48", "value")'>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must enter a name." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no names defined" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans 'remove' %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind="text: nodes.get('NAME.E48', 'value')" style="padding-right:2px;"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Significance" %}</span></div>
        </div>
    </div>
    <div id="significance-section" class="form-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 form-section-input">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('RELATIVE_LEVEL_OF_SIGNIFICANCE.E55', 'value'), placeholder: '{% trans 'relative level of significance' %}', dataKey: 'RELATIVE_LEVEL_OF_SIGNIFICANCE.E55'}"></input>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must choose a value." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-inline">{% trans "no significance defined" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record" style="display:inline;">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans 'remove' %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind="text: nodes.get('RELATIVE_LEVEL_OF_SIGNIFICANCE.E55', 'label')" style="padding-right:2px;"></span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock form_content %}