{% extends "views/forms/base.htm" %}
{% load i18n %}

{% block form_content %}

<div class="form-full-content">
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "References" %}</span></div>
        </div>
    </div>
    <div id="xref-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-6 form-section-input add-padding-right">
                    <div class="form-group">
                        <input class="form-control arches-form-input" style="width: 100%;" placeholder="identifier" data-bind='value: getEditedNode("EXTERNAL_XREF.E42", "value")'>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input add-margin-top">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('EXTERNAL_XREF_TYPE.E55', 'value'), placeholder: '{% trans 'reference type' %}', multiple: false, dataKey: 'EXTERNAL_XREF_TYPE.E55'}"></input>                                    
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must enter a reference." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                   <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no references" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="remove"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind='text: nodes.get("EXTERNAL_XREF.E42", "value")' style="padding-right:2px;"></span>
                                        <span class="text-muted arches-crud-type-identifier">
                                            <span data-bind='text: nodes.get("EXTERNAL_XREF_TYPE.E55", "label")'></span>
                                        </span>
                                    </a>
                                    <span data-bind='if: $parent.isUrl(nodes.get("EXTERNAL_XREF.E42", "value"))' style="padding-right:2px;">
                                        <a href="#" target="_blank" data-bind="attr: { 'href': $parent.getLink(nodes.get('EXTERNAL_XREF.E42', 'value')) }">
                                            <i class="fa fa-link"></i> follow link
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock form_content %}