{% extends "views/forms/base.htm" %}
{% load i18n %}
{% block form_content %}

<div class="form-full-content">
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Function Summary" %}</span></div>
        </div>
    </div>
    <div id="function-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-8 form-section-input add-padding-right">
                    <div class="form-group">
                        <input class="form-control arches-form-input" placeholder='{% trans "enter function" %}' data-bind="value: getEditedNode('FUNCTION.E62', 'value')"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 form-section-input add-margin-top">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('FUNCTION_PERIOD.E55', 'value'), placeholder: '{% trans 'current or historic' %}', dataKey: 'FUNCTION_PERIOD.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input margin-top-5 add-padding-right">
                    <div class="form-group">
                        <div class="input-group datetimepicker" style ="width:100%;">
                            <input style="height:32px;" type="text" id="date" placeholder="{% trans 'from (yyyy-mm-dd)' %}" class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('FROM_DATE.E49', 'value')} ">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input margin-top-5">
                    <div class="form-group">
                        <div class="input-group datetimepicker" style ="width:100%;" >
                            <input style="height:32px;" type="text" id="date" placeholder="{% trans 'to (yyyy-mm-dd)' %}" class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('TO_DATE.E49', 'value')} ">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must enter a function and type, and any dates must be correctly formatted (yyyy-mm-dd)." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no functions added" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="remove this component"><i data-bind='click: $parent.deleteItem.bind($parent)' class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind='click: $parent.editItem.bind($parent)' title="Edit this record">
                                        <span data-bind='text: nodes.get("FUNCTION.E62", "value")' style="padding-right:2px;"></span>
                                        <span class="text-muted arches-crud-type-identifier">
                                            (<span data-bind="text: nodes.get('FUNCTION_PERIOD.E55', 'label')"></span>)
                                        </span>
                                    </a>
                                    <br>
                                    <span class="text-muted arches-crud-type-identifier">from: <span data-bind='text: nodes.get("FROM_DATE.E49", "value")' style="padding-right:2px;"></span></span>
                                    <br>
                                    <span class="text-muted arches-crud-type-identifier">to: <span data-bind='text: nodes.get("TO_DATE.E49", "value")' style="padding-right:2px;"></span></span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Heritage Asset Information" %}</span></div>
        </div>
    </div>
    <div id="current-use-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-4 form-section-input add-padding-right">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('CURRENT_USER.E55', 'value'), placeholder: '{% trans 'current user' %}', dataKey: 'CURRENT_USER.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 form-section-input add-padding-right add-margin-top">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('CURRENT_OPERATIONAL_STATUS.E55', 'value'), placeholder: '{% trans 'current operational status' %}', dataKey: 'CURRENT_OPERATIONAL_STATUS.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 form-section-input add-margin-top">
                    <div class="form-group">
                        <div class="input-group datetimepicker" style ="width:100%;">
                            <input style="height:32px;" type="text" id="date" placeholder="{% trans 'current date (yyyy-mm-dd)' %}" class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('HERITAGE_ASSET_REPORT_DATE.E49', 'value')} ">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 form-section-input add-padding-right margin-top-5">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('HERITAGE_ASSET_CONDITION.E3', 'value'), placeholder: '{% trans 'condition' %}', multiple: false, dataKey: 'HERITAGE_ASSET_CONDITION.E3'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 form-section-input add-padding-right margin-top-5">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('HERITAGE_ASSET_CLASSIFICATION.E55', 'value'), placeholder: '{% trans 'classification' %}', dataKey: 'HERITAGE_ASSET_CLASSIFICATION.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 form-section-input margin-top-5">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('HERITAGE_ASSET_PURPOSE.E55', 'value'), placeholder: '{% trans 'purpose' %}', multiple: false, dataKey: 'HERITAGE_ASSET_PURPOSE.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 form-section-input margin-top-5">
                    <div class="form-group">
                        <input class="form-control arches-form-input" placeholder='{% trans "note" %}' data-bind="value: getEditedNode('CURRENT_OPERATIONAL_STATUS_NOTES.E62', 'value')">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must enter a current user, status, and date (yyyy-mm-dd)." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no functions added" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="remove"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind="text: nodes.get('HERITAGE_ASSET_REPORT_DATE.E49', 'value').slice(0,10)" style="padding-right:2px;"></span><br>
                                    </a>
                                    user: <span data-bind="text: nodes.get('CURRENT_USER.E55', 'label')" style="padding-right:2px;"></span><br>
                                    status: <span data-bind="text: nodes.get('CURRENT_OPERATIONAL_STATUS.E55', 'label')" style="padding-right:2px;"></span><br>
                                    <span class="text-muted arches-crud-type-identifier">
                                        condition: <span data-bind="text: nodes.get('HERITAGE_ASSET_CONDITION.E3', 'label')" style="padding-right:2px;"></span><br>
                                        classication: <span data-bind="text: nodes.get('HERITAGE_ASSET_CLASSIFICATION.E55', 'label')" style="padding-right:2px;"></span><br>
                                        purpose: <span data-bind="text: nodes.get('HERITAGE_ASSET_PURPOSE.E55', 'label')" style="padding-right:2px;"></span><br>
                                        notes: <span data-bind="text: nodes.get('CURRENT_OPERATIONAL_STATUS_NOTES.E62', 'value')" style="padding-right:2px;"></span>
                                    </span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock form_content %}