{% extends "views/forms/base.htm" %}
{% load i18n %}

{% block form_content %}

<div class="form-full-content">
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Title" %}</span></div>
        </div>
    </div>
    <div id="titles-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-8 form-section-input add-padding-right">
                    <div class="form-group">
                        <input class="form-control arches-form-input" placeholder='{% trans "enter title" %}' data-bind='value: getEditedNode("TITLE.E41", "value")'></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 form-section-input add-margin-top">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('TITLE_TYPE.E55', 'value'), placeholder: '{% trans 'type' %}', dataKey: 'TITLE_TYPE.E55'}"></input>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must populate both fields." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no roles added" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title='{% trans "remove" %}'><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                    <span data-bind="text: nodes.get('TITLE.E41', 'value')" style="padding-right:2px;"></span>
                                    <span class="text-muted arches-crud-type-identifier">(<span data-bind='text: nodes.get("TITLE_TYPE.E55", "label")'></span>)</span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Identifiers" %}</span></div>
        </div>
    </div>
    <div id="identifiers-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 form-section-input">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('IDENTIFIER_TYPE.E55', 'value'), placeholder: '{% trans 'select identifier' %}', dataKey: 'IDENTIFIER_TYPE.E55'}"></input>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must choose an identifier." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no identifiers added" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans 'remove' %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind='{text: nodes.get("IDENTIFIER_TYPE.E55", "label")}' style="padding-right:2px;"></span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Formats" %}</span></div>
        </div>
    </div>
    <div id="formats-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 form-section-input">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('INFORMATION_CARRIER_FORMAT_TYPE.E55', 'value'), placeholder: '{% trans 'select format' %}', dataKey: 'INFORMATION_CARRIER_FORMAT_TYPE.E55'}"></input>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must choose a format." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no formats added" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans 'remove' %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind='{text: nodes.get("INFORMATION_CARRIER_FORMAT_TYPE.E55", "label")}' style="padding-right:2px;"></span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Languages" %}</span></div>
        </div>
    </div>
    <div id="languages-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 form-section-input">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('LANGUAGE.E55', 'value'), placeholder: '{% trans 'select format' %}', dataKey: 'LANGUAGE.E55'}"></input>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must choose a format." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no formats added" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans 'remove' %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind='{text: nodes.get("LANGUAGE.E55", "label")}' style="padding-right:2px;"></span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Keywords" %}</span></div>
        </div>
    </div>
    <div id="keywords-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 form-section-input">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('KEYWORD.E55', 'value'), placeholder: '{% trans 'select format' %}', dataKey: 'KEYWORD.E55'}"></input>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must choose a format." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no keywords added" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans 'remove' %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind='{text: nodes.get("KEYWORD.E55", "label")}' style="padding-right:2px;"></span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock form_content %}