{% extends "views/forms/base.htm" %}
{% load i18n %}

{% block form_content %}


<div class="form-full-content">

    {% if resourcetypeid == 'ACTOR.E39' %}
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Roles" %}</span></div>
        </div>
    </div>
    <div id="role-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-6 form-section-input add-padding-right">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('ACTOR_TYPE.E55', 'value'), placeholder: '{% trans 'select role' %}', dataKey: 'ACTOR_TYPE.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input add-margin-top">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('CULTURAL_PERIOD.E55', 'value'), placeholder: '{% trans 'cultural period' %}', dataKey: 'CULTURAL_PERIOD.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input add-padding-right margin-top-5">
                    <div class="form-group">
                        <div class="input-group datetimepicker" style="width:100%;">
                            <input style="height:32px;" type="text" id="date" placeholder="{% trans 'from (yyyy-mm-dd)' %}" class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('FROM_DATE.E49', 'value')} ">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input margin-top-5">
                    <div class="form-group">
                        <div class="input-group datetimepicker" style ="width:100%;" >
                            <input style="height:32px;" type="text" id="date" placeholder="{% trans 'to (yyyy-mm-dd)' %}" class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('TO_DATE.E49', 'value')} ">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must at least enter a role, and any dates must be correctly formatted (yyyy-mm-dd)." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no roles added" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="remove"><i data-bind='click: $parent.deleteItem.bind($parent)' class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind='click: $parent.editItem.bind($parent)' title="edit">
                                        <span data-bind='text: nodes.get("ACTOR_TYPE.E55", "label")' style="padding-right:2px;"></span>
                                        <span class="text-muted arches-crud-type-identifier">
                                            <span data-bind="text: nodes.get('CULTURAL_PERIOD.E55', 'label')"></span>
                                        </span>
                                    </a>
                                    <br>
                                    <span class="text-muted arches-crud-type-identifier">from: <span data-bind='text: nodes.get("FROM_DATE.E49", "value")' style="padding-right:2px;"></span></span>
                                    <br>
                                    <span class="text-muted arches-crud-type-identifier">to: <span data-bind='text: nodes.get("TO_DATE.E49", "value")' style="padding-right:2px;"></span></span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% if resourcetypeid == 'INVENTORY_RESOURCE.E18' %}
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Styles" %}</span></div>
        </div>
    </div>
    <div id="style-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 form-section-input">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('STYLE.E55', 'value'), placeholder: '{% trans 'select style' %}', dataKey: 'STYLE.E55'}"></input>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must enter a style." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-inline">{% trans "no styles" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record" style="display:inline;">
                                    <a href="javascript:void(0)" title="Remove this style"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" title="{% trans 'Edit this description' %}" data-bind='click: $parent.editItem.bind($parent)'>
                                        <span data-bind="text: nodes.get('STYLE.E55', 'label')"></span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Descriptions" %}</span></div>
        </div>
    </div>
    <div id="description-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 form-section-input">
                    <div class="form-group">
                        {% if resourcetypeid == 'MASTER_PLAN_ZONE.E53' %}
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('ZONE_DESCRIPTION_TYPE.E55', 'value'), placeholder: '{% trans 'description type' %}', dataKey: 'ZONE_DESCRIPTION_TYPE.E55'}"></input>
                        {% else %}
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('DESCRIPTION_TYPE.E55', 'value'), placeholder: '{% trans 'description type' %}', dataKey: 'DESCRIPTION_TYPE.E55'}"></input>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 form-section-input margin-top-5">
                    <div class="form-group">
                        <div class="summernote" data-bind="summernote: {value: getEditedNode('DESCRIPTION.E62', 'value'), options:{}}"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must populate both fields." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no descriptions" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" title="remove"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" title="{% trans 'edit' %}" data-bind='click: $parent.editItem.bind($parent)'>
                                        {% if resourcetypeid == 'MASTER_PLAN_ZONE.E53' %}
                                        <span data-bind="text: nodes.get('ZONE_DESCRIPTION_TYPE.E55', 'label')"></span>
                                        {% else %}
                                        <span data-bind="text: nodes.get('DESCRIPTION_TYPE.E55', 'label')"></span>
                                        {% endif %}
                                    </a>
                                    <div class="note-editable custom-scroll arches-evaluation-content" contenteditable="false" data-bind='{html: nodes.get("DESCRIPTION.E62", "value")}'></div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock form_content %}