{% extends "views/forms/base.htm" %}
{% load i18n %}

{% block form_content %}

{% include 'historic-map-disclaimer-modal.htm' %}

<div class="form-full-content">
    {% if resourcetypeid != 'ACTOR.E39' %}
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Mapped Locations" %}</span></div>
        </div>
    </div>
    <div id="geom-list-section">
        <div class="row margin-bottom-10">
            <div class="col-xs-12">
                <div class="margin-bottom-10">
                    <dl>
                        <div id="map" class="map arches-report-map margin-left-0 margin-top-10"></div>
                        <div id="geometry-type" class="geometry-type" style="margin-top: -490px; margin-bottom: 463px; padding-right: 10px;">
                            <div class="row">
                                <div class="col-xs-6 col-xs-offset-6" data-bind="attr: { 'style': getEditedNode('SPATIAL_COORDINATES_GEOMETRY.E47', 'value')() === '' ? 'opacity:0;' : '' }">
                                    <div class="form-group" style="width:100%;">
                                        <input class="geometry-selection" id="geometry-selection" name="" style="width:100%" data-bind="select2: {value: getEditedNode('GEOMETRY_QUALIFIER.E55', 'value'), placeholder: 'Type', dataKey: 'GEOMETRY_QUALIFIER.E55'}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dl>
                </div>
                <!-- basemap panel -->
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1" style="min-height:0px !important;">
                        <div id="basemaps-panel" class="tools-panel location-form-panel hidden" style="">
                            <div class="modal-header arches-modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <span title="Go to the MAP tab to learn more about these basemaps">
                                    <h4 class="modal-title">
                                        {% trans "Basemaps" %}
                                    </h4>
                                </span>
                            </div>
                            <div class="modal-body location-form-panel-body padding-top-0 padding-bottom-0" style="" data-bind='foreach: baseLayers'>
                                <!-- ko ifnot: icon==false -->
                                <div class="row">
                                    <hr class="arches-layer-divider" style="border-top: 0px; margin-top: 5px;" />
                                    <div class="">
                                        <a data-bind="attr: { id: id, title: alttext }" class="basemap info-click" data-rel="" href="javascript:void(0);">
                                            <span class="">  
                                                <img data-bind="attr: { src: icon }" class="arches-basemap-thumbnail" alt="" />
                                                <span class="zoom-icon"></span>                   
                                            </span>                                              
                                        </a>                    
                                        <span class="arches-basemap-caption">
                                            <a data-bind="attr: { id: id }, text: name" class="caption-text hover-effect basemap info-click" href="javascript:void(0);"> </a>
                                        </span>
                                        
                                        <div style="float:right; padding-top:10px; padding-right:5px;">
                                        <a href="javascript:void(0);" title="change color scheme" data-bind="if: altlayer, attr: {'data-layerid': id}"><i data-bind="attr: { id: id+'-extra'}" class="fa fa-2x fa-circle alt-map-icon" style="color: #65a5da;"></i></a> &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end basemap panel -->
                <!-- historic map panel -->
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1" style="min-height:0px !important;">
                        <div id="historicmaps-panel" class="tools-panel location-form-panel hidden">
                            <div class="modal-header arches-modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <span title="Go to the MAP tab to learn more about these historic maps">
                                    <h4 class="modal-title">
                                        {% trans "Historic Maps" %}
                                    </h4>
                                </span>
                            </div>
                            <div class= "modal-body location-form-panel-body padding-top-0 padding-bottom-0" data-bind='foreach: historicLayers'>
                                <div class="row">
                                    <hr class="arches-layer-divider" style="border-top: 0px; margin-top: 5px;">
                                    <div class="arches-basemap-entry" style="" data-bind="attr: { id: id}">
                                        <div class="">
                                            <a data-bind="attr: { id: id, title: name }" class="historicmap info-click" data-rel="" href="javascript:void(0);">
                                                <span class="">  
                                                    <img data-bind="attr: {src: icon }" class="arches-basemap-thumbnail" alt="" />
                                                    <span class="zoom-icon"></span>                   
                                                </span>                                              
                                            </a>                    
                                            <span class="arches-basemap-caption">
                                                <a data-bind="attr: { id: id }, text: name" class="caption-text hover-effect historicmap info-click" href="javascript:void(0);"> </a>
                                            </span>
                                            <div style="float:right; padding-top:10px; padding-right:5px;">
                                            <a href="javascript:void(0);" title="change color scheme" data-bind="if: altlayer, attr: {'data-layerid': id}"><i data-bind="attr: { id: id+'-trans'}" class="fa fa-2x fa-circle alt-map-icon" style="color: #65a5da;"></i></a> &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end historic map panel -->
                <!-- geometry tools panel -->
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1" style="min-height:0px !important;">
                        <div id="overlay-panel" class="tools-panel location-form-panel hidden" style="">
                            <div class="modal-header arches-modal-header">
                                <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">
                                    {% trans 'Geometry Tools' %}
                                </h4>
                            </div>
                            <div class="modal-body location-form-panel-body padding-top-10 padding-bottom-0" style="overflow-x: hidden; padding-left: 5px; padding-right: 5px;">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <dl>
                                            <dd class="">
                                                <div class="arches-tool-item">
                                                    
                                                    <a href="javascript:void(0);" data-geometrytype="Point" class="arches-tool-text geometry-btn info-link" title="">
                                                        <i class="fa fa-dot-circle-o"></i>
                                                        {% trans 'Draw new point' %}
                                                    </a>
                                                </div>
                                            </dd>
                                            <dd class="">
                                                <div class="arches-tool-item">
                                                    
                                                    <a href="javascript:void(0);" data-geometrytype="LineString" class="arches-tool-text geometry-btn info-link" title="">
                                                        <i class="fa fa-minus"></i>
                                                        {% trans 'Draw new line' %}
                                                    </a>
                                                </div>
                                            </dd>
                                            <dd class="">
                                                <div class="arches-tool-item">
                                                    
                                                    <a href="javascript:void(0);" data-geometrytype="Polygon" class="arches-tool-text geometry-btn info-link" title="">
                                                        <i class="fa fa-square-o"></i>
                                                        {% trans 'Draw new polygon' %}
                                                    </a>
                                                </div>
                                            </dd>
                                            <dd class="">
                                                <div class="arches-tool-item file-upload">
                                                    
                                                    <a href="javascript:void(0);" data-geometrytype="Polygon" class="arches-tool-text geometry-btn info-link" title="">
                                                        <i class="fa fa-upload"></i>
                                                        {% trans 'Add from gpx, kml, or geojson' %}
                                                    </a>
                                                    <input type="file" class="upload geom-upload" accept=".gpx, .kml, .geojson, .json"/>
                                                </div>
                                            </dd>
                                            <dd class="geom-file-instructions">
                                                {% trans '(or drag and drop the file onto the map)' %}
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end geometry tools panel -->
                <!-- map tools buttons -->
                <div class="row hidden-xs">
                    <div class="col-xs-12 col-sm-12 col-md-12 ol-lg-12" style="margin-top: -70px;margin-left: 30px;">
                        <div class="btn-group">
                            <!-- what is this first button for?allows the close button to work.  This should be fixed...-->
                            <button id="inventory-home" type="button" class="btn btn-primary arches-map-tools-pressed" style="display:none; width: 50px; border: 1px solid rgba(206,217,233,.95);"><i class="fa fa-caret-down"></i></button>
                            <button id="inventory-basemaps" type="button" class="btn btn-primary arches-map-tools inventory-basemaps" style=""><i class="fa fa-globe"></i> {% trans 'Basemaps' %}</button>
                            <button id="inventory-historicmaps" type="button" class="btn btn-primary arches-map-tools" style="" ><i class="fa fa-newspaper-o"></i> {% trans 'Historic Maps' %}</button>
                            <button id="inventory-overlays" type="button" class="btn btn-primary arches-map-tools"><i class="fa fa-plus"></i> {% trans 'Add Geometry' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <div data-bind="visible: getBranchLists().length == 0" class="margin-left-5 txt-color-blue filler-text-block">{% trans "no geometries represent this resource yet" %}</div>   
                        <dd class="margin-left-5" data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0);" class="arches-CRUD-child" title="remove this geometry"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0);" class="arches-CRUD-child" data-bind="click: $parent.editItem.bind($parent), text: nodes.get('SPATIAL_COORDINATES_GEOMETRY.E47', 'value').split('(')[0].toLowerCase(), attr: { 'style': editing() ? 'font-weight:bold;' : '' }" title="Edit this geometry"></a>
                                &nbsp;<span class="text-muted arches-crud-type-identifier" data-bind="text: nodes.get('GEOMETRY_QUALIFIER.E55', 'label')"></span>
                            </div>
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Addresses" %}</span></div>
        </div>
    </div>
    <div id="address-section">
        <div class="row">
            <dl>
                <dd>
                    <div class="col-xs-10 hidden-xs">
                        <input class="form-control arches-form-input" style="width: 69%;" placeholder='{% trans "address" %}' data-bind='value: getEditedNode("PLACE_ADDRESS.E45", "value")'>                                    
                        <input style="width:30%;" class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('ADDRESS_TYPE.E55', 'value'), placeholder: '{% trans 'type' %}', dataKey: 'ADDRESS_TYPE.E55'}"></input>
                    </div>
                    <div class="col-xs-2 hidden-xs add-button-column">
                        {% include 'views/components/add-item-button.htm' %}
                    </div>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                        <input class="form-control arches-form-input" style="width: 100%;" placeholder='{% trans "address" %}' data-bind='value: getEditedNode("PLACE_ADDRESS.E45", "value")'>
                        <div class="margin-top-5"></div>
                        <input style="width:100%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('ADDRESS_TYPE.E55', 'value'), placeholder: '{% trans 'type' %}', dataKey: 'ADDRESS_TYPE.E55'}"></input>
                        <div class="margin-top-5"></div>
                        {% include 'views/components/add-item-button.htm' %}
                    </div>
                </dd>
            </dl>
            <div class="col-xs-12">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must populate both fields." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block">{% trans "no addresses entered" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans 'delete this address' %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit this address' %}">
                                        <span data-bind="text: nodes.get('PLACE_ADDRESS.E45', 'value')" style="padding-right:2px;"></span>
                                        <span class="text-muted arches-crud-type-identifier">
                                            (<span data-bind="text: nodes.get('ADDRESS_TYPE.E55', 'label')"></span>)
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Location Description" %}</span></div>
        </div>
    </div>
    <div class="row margin-bottom-10" id="description-section">
        <div class="col-xs-10 hidden-xs">
            <dl>
                <dd class="arches-RDM-labels">
                    <div class="arches-html-editor">
                        <div class="summernote" data-bind="summernote: {value: getEditedNode('DESCRIPTION_OF_LOCATION.E62', 'value'), options:{}}"></div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <dl>
                <dd class="arches-RDM-labels">
                    <div class="arches-html-editor">
                        <div class="summernote" data-bind="summernote: {value: getEditedNode('DESCRIPTION_OF_LOCATION.E62', 'value'), options:{}}"></div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <!-- End Resource Location Descriptions -->

    {% if resourcetypeid != 'ACTOR.E39' %}
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Management Areas" %}</span></div>
        </div>
    </div>
    <div id="character-area-section">
        <div class="row">
            <dl>
                <dd>
                    <div class="col-xs-10 hidden-xs">
                        <input style="width:100%;" class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('CHARACTER_AREA.E44', 'value'), placeholder: '{% trans 'character area' %}', dataKey: 'CHARACTER_AREA.E44'}"></input>
                    </div>
                    <div class="col-xs-2 hidden-xs add-button-column">
                        {% include 'views/components/add-item-button.htm' %}
                    </div>
                    <div class="col-xs-12  hidden-sm hidden-md hidden-lg">
                        <input style="width:100%; height: 36px; padding-top: 2px; margin-bottom: 5px" class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('CHARACTER_AREA.E44', 'value'), placeholder: '{% trans 'character area' %}', multiple: false, dataKey: 'CHARACTER_AREA.E44'}"></input>
                        {% include 'views/components/add-item-button.htm' %}
                    </div>
                </dd>
            </dl>
            <div class="col-xs-12">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must choose an area." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-inline">{% trans "no area added" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record" style="display:inline;">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans 'remove this area' %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit this area' %}">
                                        <span data-bind="text: nodes.get('CHARACTER_AREA.E44', 'label')" style="padding-right:2px;"></span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div id="master-plan-zone-section">
        <div class="row">
            <dl>
                <dd>
                    <div class="col-xs-10 hidden-xs">
                        <input style="width:100%;" class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('MASTER_PLAN_ZONE.E44', 'value'), placeholder: '{% trans 'master plan zone' %}', dataKey: 'MASTER_PLAN_ZONE.E44'}"></input>
                    </div>
                    <div class="col-xs-2 hidden-xs add-button-column">
                        {% include 'views/components/add-item-button.htm' %}
                    </div>
                    <div class="col-xs-12  hidden-sm hidden-md hidden-lg">
                        <input style="width:100%; height: 36px; padding-top: 2px; margin-bottom: 5px" class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('MASTER_PLAN_ZONE.E44', 'value'), placeholder: '{% trans 'master plan zone' %}', multiple: false, dataKey: 'MASTER_PLAN_ZONE.E44'}"></input>
                        {% include 'views/components/add-item-button.htm' %}
                    </div>
                </dd>
            </dl>
            <div class="col-xs-12">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must choose a zone." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-inline">{% trans "no zone added" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record" style="display:inline;">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans 'remove this zone' %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit this zone' %}">
                                        <span data-bind="text: nodes.get('MASTER_PLAN_ZONE.E44', 'label')" style="padding-right:2px;"></span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div id="archaeological-zone-section">
        <div class="row">
            <dl>
                <dd>
                    <div class="col-xs-10 hidden-xs">
                        <input style="width:100%;" class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('ARCHAEOLOGICAL_ZONE.E44', 'value'), placeholder: '{% trans 'archaeological assessment zone' %}', dataKey: 'ARCHAEOLOGICAL_ZONE.E44'}"></input>
                    </div>
                    <div class="col-xs-2 hidden-xs add-button-column">
                        {% include 'views/components/add-item-button.htm' %}
                    </div>
                    <div class="col-xs-12  hidden-sm hidden-md hidden-lg">
                        <input style="width:100%; height: 36px; padding-top: 2px; margin-bottom: 5px" class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('ARCHAEOLOGICAL_ZONE.E44', 'value'), placeholder: '{% trans 'archaeological assessment zone' %}', multiple: false, dataKey: 'ARCHAEOLOGICAL_ZONE.E44'}"></input>
                        {% include 'views/components/add-item-button.htm' %}
                    </div>
                </dd>
            </dl>
            <div class="col-xs-12">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must choose a zone." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-inline">{% trans "no zone added" %}</div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record" style="display:inline;">
                                    <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans 'remove this zone' %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit this zone' %}">
                                        <span data-bind="text: nodes.get('ARCHAEOLOGICAL_ZONE.E44', 'label')" style="padding-right:2px;"></span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock form_content %}