{% extends "views/forms/base.htm" %}
{% load i18n %}
{% block form_content %}

<div class="form-full-content">
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Determination of Exemption" %}</span></div>
        </div>
    </div>
    <div id="exemption-section">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-6 form-section-input add-padding-right">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('SECTION_106_EXEMPTION_TYPE.E55', 'value'), placeholder: '{% trans 'Determination' %}', dataKey: 'SECTION_106_EXEMPTION_TYPE.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input add-margin-top">
                    <div class="form-group">
                        <div class="input-group datetimepicker">
                            <input type="text" id="date" placeholder="{% trans 'FPO/CRM Confirmation Date' %}" class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('FPO_CRM_CONFIRMATION_DATE.E49', 'value')} ">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-form-subheader">
                    <div class="form-section-subheader"><span>{% trans "Justification" %}</span></div>
                </div>
                <div class="col-xs-12 form-section-input margin-top-5">
                    <div class="form-group">
                        <div class="summernote" data-bind="summernote: {value: getEditedNode('SECTION_106_EXEMPTION_JUSTIFICATION.E62', 'value'), options:{}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "DCSHPO Consultation" %}</span></div>
        </div>
    </div>
    <div id="urr-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 form-section-input">
                    <div class="form-group">
                        <input class="form-control arches-form-input" placeholder='{% trans "URR #" %}' data-bind='value: getEditedNode("DCSHPO_URR.E42", "value")'>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert er-fill-single" role="alert" style="display:none;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block nr"></div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" title="remove"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind="text: nodes.get('DCSHPO_URR.E42', 'value')" style="padding-right:2px;"></span>
                                    </a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div id="submission-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-6 form-section-input add-padding-right">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('DCSHPO_SUBMISSION_TYPE.E55', 'value'), placeholder: '{% trans 'Submission Type' %}', dataKey: 'DCSHPO_SUBMISSION_TYPE.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input add-margin-top">
                    <div class="form-group">
                        <div class="input-group datetimepicker">
                            <input style="font-size: 13px; height:32px;" type="text" id="date" placeholder="{% trans 'yyyy-mm-dd' %}" class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('DCSHPO_SUBMISSION_DATE.E49', 'value')} ">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input add-padding-right margin-top-5">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('DCSHPO_SUBMISSION_METHOD.E55', 'value'), placeholder: '{% trans 'Submission Method' %}', dataKey: 'DCSHPO_SUBMISSION_METHOD.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input margin-top-5">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('AFRH_DETERMINATION_OF_EFFECT.E55', 'value'), placeholder: '{% trans 'AFRH Determination of Effect' %}', dataKey: 'AFRH_DETERMINATION_OF_EFFECT.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 form-section-input margin-top-5">
                    <div class="form-group">
                        <input class="form-control arches-form-input" placeholder='{% trans "Notes" %}' data-bind='value: getEditedNode("DCSHPO_SUBMISSION_NOTES.E62", "value")'>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must enter a type, date (yyyy-mm-dd), method, and determination of effect." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block nr"></div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" title="remove"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind="text: nodes.get('DCSHPO_SUBMISSION_TYPE.E55', 'label')+' Submission'" style="padding-right:2px;"></span>
                                    </a><br>
                                    <span data-bind="text: ' Submitted on '+ nodes.get('DCSHPO_SUBMISSION_DATE.E49', 'value').slice(0,10)"></span><br>
                                    <span data-bind="text: ' Submittal Method: '+ nodes.get('DCSHPO_SUBMISSION_METHOD.E55', 'label')"></span><br>
                                    <span data-bind="text: 'AFRH Determination: ' + nodes.get('AFRH_DETERMINATION_OF_EFFECT.E55', 'label')"></span><br>
                                    <span class="text-muted" data-bind="html: nodes.get('DCSHPO_SUBMISSION_NOTES.E62', 'value')"></span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div id="response-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-6 form-section-input add-padding-right">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('DCSHPO_RESPONSE_TYPE.E55', 'value'), placeholder: '{% trans 'Response Type' %}', dataKey: 'DCSHPO_RESPONSE_TYPE.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input add-margin-top">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('DCSHPO_RESPONSE_EVALUATION.E55', 'value'), placeholder: '{% trans 'Response' %}', dataKey: 'DCSHPO_RESPONSE_EVALUATION.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input add-padding-right margin-top-5">
                    <div class="form-group">
                        <input class="form-control arches-form-input" placeholder='{% trans "File Number" %}' data-bind='value: getEditedNode("DCSHPO_RESPONSE_FILE_NUMBER.E42", "value")'>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input margin-top-5">
                    <div class="form-group">
                        <div class="input-group datetimepicker">
                            <input style="font-size: 13px; height:32px;" type="text" id="date" placeholder="{% trans 'yyyy-mm-dd' %}" class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('DCSHPO_RESPONSE_DATE.E49', 'value')} ">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-section-input margin-top-5">
                    <div class="form-group">
                        <input class="form-control arches-form-input" placeholder='{% trans "Notes" %}' data-bind='value: getEditedNode("DCSHPO_RESPONSE_NOTES.E62", "value")'>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must enter a type, evaluation, file number, and date (yyyy-mm-dd)." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block nr"></div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" title="remove"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind="text: nodes.get('DCSHPO_RESPONSE_TYPE.E55', 'label')+': '+nodes.get('DCSHPO_RESPONSE_EVALUATION.E55', 'label')" style="padding-right:2px;"></span>
                                    </a><br>
                                    <span data-bind="text: ' Response on '+ nodes.get('DCSHPO_RESPONSE_DATE.E49', 'value').slice(0,10)"></span><br>
                                    <span data-bind="text: ' File Number: '+ nodes.get('DCSHPO_RESPONSE_FILE_NUMBER.E42', 'value')"></span><br>
                                    <span class="text-muted" data-bind="html: nodes.get('DCSHPO_RESPONSE_NOTES.E62', 'value')"></span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Section 106 Notifications" %}</span></div>
        </div>
    </div>
    <div id="notification-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-4 form-section-input add-padding-right">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('SECTION_106_NOTIFICATION_TYPE.E55', 'value'), placeholder: '{% trans 'Notification Type' %}', dataKey: 'SECTION_106_NOTIFICATION_TYPE.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 form-section-input add-padding-right">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('SECTION_106_NOTIFICATION_METHOD.E55', 'value'), placeholder: '{% trans 'Notification Method' %}', dataKey: 'SECTION_106_NOTIFICATION_METHOD.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 form-section-input add-margin-top">
                    <div class="form-group">
                        <div class="input-group datetimepicker">
                            <input style="font-size: 13px; height:32px;" type="text" id="date" placeholder="{% trans 'yyyy-mm-dd' %}" class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('SECTION_106_NOTIFICATION_DATE.E49', 'value')} ">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-section-input margin-top-5">
                    <div class="form-group">
                        <input class="form-control arches-form-input" placeholder='{% trans "Notes" %}' data-bind='value: getEditedNode("SECTION_106_NOTIFICATION_NOTES.E62", "value")'>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "You must enter a type, method, and date (yyyy-mm-dd)." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block nr"></div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" title="remove"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind="text: nodes.get('SECTION_106_NOTIFICATION_TYPE.E55', 'label')+': '+nodes.get('SECTION_106_NOTIFICATION_METHOD.E55', 'label')" style="padding-right:2px;"></span>
                                    </a><br>
                                    <span data-bind="text: ' Response on '+ nodes.get('SECTION_106_NOTIFICATION_DATE.E49', 'value').slice(0,10)"></span><br>
                                    <span class="text-muted" data-bind="html: nodes.get('SECTION_106_NOTIFICATION_NOTES.E62', 'value')"></span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Dispute Resolution" %}</span></div>
        </div>
    </div>
    <div id="dispute-section">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 form-section-input margin-top-5">
                    <div class="form-group">
                        <div class="summernote" data-bind="summernote: {value: getEditedNode('SECTION_106_DISPUTE_RESOLUTION_NOTES.E62', 'value'), options:{}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 margin-bottom-10">
            <div class="form-section-header"><span>{% trans "Agreements" %}</span></div>
        </div>
    </div>
    <div id="agreement-section">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-6 form-section-input add-padding-right">
                    <div class="form-group">
                        <input class="select2 arches-select2-crud-form" data-bind="select2: {value: getEditedNode('SECTION_106_AGREEMENT_TYPE.E55', 'value'), placeholder: '{% trans 'Agreement Type' %}', dataKey: 'SECTION_106_AGREEMENT_TYPE.E55'}"></input>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-section-input add-margin-top">
                    <div class="form-group">
                        <div class="input-group datetimepicker">
                            <input style="font-size: 13px; height:32px;" type="text" id="date" placeholder="{% trans 'yyyy-mm-dd' %}" class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('SECTION_106_AGREEMENT_EXECUTION_DATE.E49', 'value')} ">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-section-input margin-top-5">
                    <div class="form-group">
                        <input class="form-control arches-form-input" placeholder='{% trans "Notes" %}' data-bind='value: getEditedNode("SECTION_106_AGREEMENT_NOTES.E62", "value")'>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 add-button-column add-margin-top">
                {% include 'views/components/add-item-button.htm' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="alert alert-danger branch-invalid-alert er-fill-all" role="alert" style="display:none;">{% trans "You must enter a type and date (yyyy-mm-dd)." %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arches-crud-child-section">
                    <dl>
                        <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                            <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue filler-text-block nr"></div>   
                            <div data-bind='foreach: getBranchLists()'>
                                <div class="arches-crud-record">
                                    <a href="javascript:void(0)" title="remove"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                    <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans 'edit' %}">
                                        <span data-bind="text: nodes.get('SECTION_106_AGREEMENT_TYPE.E55', 'label')+': '+nodes.get('SECTION_106_AGREEMENT_EXECUTION_DATE.E49', 'value').slice(0,10)" style="padding-right:2px;"></span>
                                    </a><br>
                                    <span class="text-muted" data-bind="html: nodes.get('SECTION_106_AGREEMENT_NOTES.E62', 'value')"></span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
   
</div>
{% endblock form_content %}
