{% extends "views/forms/base.htm" %}
{% load i18n %}
{% block form_content %}

<div id="function-section">
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                <dl>
                    <dt>
                        <h5 id="arches-names-form" class="section-headline">Function Summary</h5>
                    </dt>
                    <dd>
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-inline hidden-xs" role="form">
                                    <div class="form-group" style="width: 100%">
                                        <input class="form-control arches-form-input" id="function-name" style="width: 50%;" placeholder='{% trans "enter function" %}' data-bind='value: getEditedNode("FUNCTION.E62", "value")'>                                        
                                        <input style="width:30%;" class="select2 arches-select2-crud-form" id="resource-type-dropdown" data-bind="select2: {value: getEditedNode('FUNCTION_PERIOD.E55', 'value'), placeholder: '{% trans "current or historic" %}', multiple: false, dataKey: 'FUNCTION_PERIOD.E55'}"></input>&nbsp;
                                        {% include 'views/components/add-item-button.htm' %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="arches-crud-child-section">
                <dl>
                    <dt class="arches-CRUD-child-title">
                        This resource has these functions:
                    </dt>
                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "no functions have been added" %}</div>
                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="remove this component"><i data-bind='click: $parent.deleteItem.bind($parent)' class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind='click: $parent.editItem.bind($parent)' title="Edit this record">
                                    <span data-bind='text: nodes.get("FUNCTION.E62", "value")' style="padding-right:2px;"></span> (<span data-bind='text: nodes.get("FUNCTION_PERIOD.E55", "label")' style="padding-right:2px;"></span>)
                                </a>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock form_content %}