{% load staticfiles %}
{% load i18n %}
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">                     
                <p>
                    <a href="https://github.com/archesproject/arches" target="_blank">Arches v{{arches_version}}</a> | <a href="https://github.com/archesproject/arches" target="_blank">HIP v1.0.4</a> | <a href="https://github.com/mradamcox/afrh" target="_blank">AFRH-W Customization</a>
                </p>
            </div>
            <div class="col-md-6">  
                <a href="http://www.archesproject.org">
                    <img class="pull-right arches-logo" id="logo-footer" src="{{ STATIC_URL }}img/PoweredByArches.png" alt="">
                </a>
            </div>
        </div>
    </div> 
</div>