{% load staticfiles %}
{% load i18n %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>  
                <p class="margin-bottom-25 md-margin-bottom-40">
                    The AFRH-W resource database is powered by Arches, a free and open source software platform designed to create and manage rich inventories of culturally signficant resources.
                </p>  

                <!-- End About -->
            </div> 

            <div class="col-md-6">

                <!-- Social Links -->
                <div class="headline"><h2>Stay Connected</h2></div> 
                <p class="margin-bottom-25 md-margin-bottom-40">
                    Visit our agency website: <a href="http://www.afrh.gov">www.afrh.gov</a><br>
                    Questions, comments, issues?  EMAIL@AFRH.GOV OR SOMETHING
                </p>
                <!-- End Social Links -->
            </div><!--/col-md-4-->
        </div>
    </div> 
</div> 