{% load staticfiles %}
{% load i18n %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>  
                <p class="margin-bottom-25 md-margin-bottom-40">
                    The AFRH-IRIS is powered by Arches v3, a free and open source software platform designed to create and manage rich inventories of culturally signficant resources. Check out the <a href="http://www.archesproject.org">Arches website</a> to learn more, or the <a href="https://groups.google.com/forum/#!forum/archesproject">Arches forum</a> to get involved.
                </p>  

                <!-- End About -->
            </div> 

            <div class="col-md-6">

                <!-- Social Links -->
                <div class="headline"><h2>Stay Connected</h2></div> 
                <p class="margin-bottom-25 md-margin-bottom-40">
                    Visit our agency website: <a href="http://www.afrh.gov">www.afrh.gov</a><br>
                    Questions, comments, issues? Get in touch: <a id="contact"></a>
                </p>
                <!-- End Social Links -->
            </div><!--/col-md-4-->
        </div>
    </div> 
</div> 