<!DOCTYPE html>
<!-- this is the html used for the historic map disclaimer.  it is included in the map.htm template -->

<div id="historic-disclaimer-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="historic-disclaimer-modal" aria-hidden="true" style="margin-top: 50px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="disclaimer-title">Historic Map Disclaimer</h4>
            </div>
            <div class="modal-body" id="disclaimer-body">
                <p>There are two main issues with the interpretation of historic maps:</p>
                    <ul>
                        <li>The maps themselves may be inaccurate or approximate</li>
                        <li>Placing them on current maps <em><b>is not precise</b></em>.</li>
                    </ul>
                <p>Before continuing, the user must understand that the Cane River National Heritage Area takes no responsibility for the relationship between any features on the historic maps and their apparent current locations.<br>
                <em><b>Any property lines or markings on the ground take precedence over what is displayed here.</b></em></p>                   
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-default" id="close-modal" data-dismiss="modal">I UNDERSTAND</button>
            </div>
        </div>
    </div>
</div>